body {
    margin: 0;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
    background: black;
}

.controls {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

/* Left & Right together */
.moveButtons {
    display: flex;
    gap: 65px;
}

/* All buttons */
.controls button {
    padding: 20px 30px;
    font-size: 22px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);   /* Transparent */
    color: white;
    backdrop-filter: blur(5px);             /* Glass effect */
    -webkit-backdrop-filter: blur(5px);
    transition: 0.2s;
}
.controls button:active {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0.95);
}
#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
